# cache simulator configuration file
# key-value pairs

cache_size 32768
block_size 64
associativity 4
fully_associative false
write_back false
write_allocate true
hit_time 1
miss_penalty 100
mem_bytes_per_cycle 8.0
address_trace_limit 0
element_size 4
